$primary-color: #3b6e98;
$random-color-1: #efbc9b;
$random-color-2: #ee92c2;
$random-color-3: #9d6a89;
$random-color-4: #725d68;
$random-color-5: #a8b4a5;
$base-font-size: 20px;
$base-font-family: 'Open Sans', Arial, sans-serif;
$base-border-radius: 15px;
